DirectoryIndex jinin.cgi

RewriteEngine on
RewriteBase /

RewriteRule ^(.+)\.jpg$ jinin.cgi?mode=html&tri=$1
RewriteRule ^(.+)\.JPG$ jinin.cgi?mode=jpeg&tri=$1
RewriteRule ^index.html$ jinin.cgi

ErrorDocument 404 /jinin.cgi
ErrorDocument 500 /test.html
