DirectoryIndex jinin.cgi

RewriteEngine on
RewriteBase /

RewriteCond %{QUERY_STRING} (^|&)hash=([^&]+)($|&)
RewriteRule .* - [E=X_QUERY_HASH:%2]

RewriteRule ^(.+)\.jpg$ jinin.cgi?mode=html&tri=$1&hash=%{ENV:X_QUERY_HASH}
RewriteRule ^(.+)\.JPG$ jinin.cgi?mode=jpeg&tri=$1&hash=%{ENV:X_QUERY_HASH}
RewriteRule ^index.html$ jinin.cgi
